/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--pink-color: hotpink;
	--orange-color: orange;
	/* moet nog even de preciese kleurcodes opzoeken hoor*/
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

